[submodule "auth-server"]
	path = auth-server
	url = https://github.com/nghialt3670/funchive-auth-server.git
[submodule "config-repo"]
	path = config-repo
	url = https://github.com/nghialt3670/funchive-config-repo.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/nghialt3670/funchive-config-server.git
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/nghialt3670/funchive-discovery-server.git
[submodule "function-service"]
	path = function-service
	url = https://github.com/nghialt3670/funchive-function-service.git
[submodule "gateway-server"]
	path = gateway-server
	url = https://github.com/nghialt3670/funchive-gateway-server.git
[submodule "sandbox-service"]
	path = sandbox-service
	url = https://github.com/nghialt3670/funchive-sandbox-service.git
[submodule "storage-service"]
	path = storage-service
	url = https://github.com/nghialt3670/funchive-storage-service.git
[submodule "web"]
	path = web
	url = https://github.com/nghialt3670/funchive-web.git
